

li{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .9375rem;
    word-spacing: .0625rem;
    span{
        font-weight: bold;
        margin-right: .3125rem;
    }
    
}